name: Lint Docs

on:
  push:
    branches:
    - master
    paths:
    - "**/*.md"
    - ".github/workflows/docs-lint.yml"
  pull_request:
    paths:
    - "**/*.md"
    - ".github/workflows/docs-lint.yml"

jobs:
  docs-lint:
    uses: anycable/github-actions/.github/workflows/docs-lint.yml@master
    with:
      mdl-path: README.md CHANGELOG.md
      forspell-args: "*.md .github/**/*.md"
      lychee-args: README.md CHANGELOG.md -v
